<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" >Cagnotte</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="" >Home <span class="sr-only"></span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="decouvrir" >Découvrire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cree-cagnotte" >Créer une cagnotte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="connecter" >Se connecter</a>
      </li>
    </ul>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="rechercher" aria-label="Search">
      <button class="btn btn-outline-success" type="submit" routerLink="recherche">Rechercher</button>
    </form>

  </div>
</nav>
<router-outlet></router-outlet>
<footer class="text-center mt-2">
  <p>&copy; Cagnotte 2023. All right reserved</p>
</footer>